<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level- %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.grpc.netty" level="info"/>
    <logger name="main_topic" level="ALL">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>